<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>realstate </title>
    <style>
        img {
            width:200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <form action="" id="post_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}  
        {% for hidden in form.hidden_fields %}
            {{hidden}}            
        {% endfor %}
        
        {% for field in form %}
            {{field}} <br/>
        {% endfor %}
        {{imgsform.management_form}}
        
        {% for f in imgsform %}
            {{f}}
        {% endfor %}     
       <input type="submit" name="submit" value="submit">
    </form>
    <div>
</div>

{% for img in images %}
    {{img.url}}
{% endfor %}
    
</body>
</html>